{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %} - Pipeline{% endblock %}
{% block name_page %}Pipeline{% endblock %}
{% block tree_site %}{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}

    {% comment %} Intro JS {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/intro-js6.0.0/css/intro.min.css' %}">

{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}

    {% include 'message.html' %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-default">

                {% comment %} CARD HEADER {% endcomment %}
                <div class="card-header">
                    <h3 class="card-title text-black-50">Processar pipeline de audiência.</h3>
                </div>

                {% comment %} CARD BODY {% endcomment %}
                <div class="card-body mt-4">
                    <div class="row">

                    </div>
                </div>

                {% comment %} CARD FOOTER {% endcomment %}
                <div class="card-footer">
                    <div class="float-right">
                        <button type="submit" form="form" class="btn btn-primary mx-1">
                            <em class="fas fa-filter"></em>
                            <span class="ml-2 hide-on-mobile">Processar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
